@media (max-width:1090px){
    .spcard img{
     width: 200px;
    }
 }
@media (max-width:790px){
    .spcard img{
        width: 155px;
    }
}
@media (max-width:630px){
    .spcard img{
        width: 105px;
    }
    .txt{
        font-size: 1.5rem;
    }
}
@media (max-width:495px){
    .sponsors{
        display: block;
    }
    .spcard{
        margin-bottom: 2.3rem;
    }
    .sponmain:before{
        left: 13rem;
    }
    .plugin{
        height: 555px;
    }
}